---
layout: default
title: Open Technologies Conference
permalink: /
description: Everything Open is an open technologies conference run by Linux Australia.
---

<div class="bg-dusk-sea text-light px-4 py-5 text-center">
  <h2 class="display-5 fw-bold">Welcome to Everything Open</h2>
  <div class="col-lg-6 mx-auto">
    <p>
      Everything Open is a conference focused on open technologies, including Linux, open source software, open hardware and open data, and the communities that surround them.
      The conference provides technical deep-dives as well as updates from industry leaders and experts on a wide array of topics from these areas.
    </p>
    <p class="mb-4">Everything Open embodies Linux Australia's values, providing a space for the community to come together to learn from each other and participate in discussions.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/news/introducing-everything-open/" class="btn btn-light btn-lg px-4 gap-3" role="button">Find out more</a>
      <a href="https://lists.linux.org.au/mailman/listinfo/eo-announce" class="btn btn-dark btn-lg px-4" role="button">Subscribe for updates</a>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="header-info text-center px-3 py-3">
        <h2 class="text-light">Everything Open 2025</h1>
        <p class="h3 text-white-50">
          January 20-22 2025<br>
          Adelaide, Australia
        </p>
      </div>
    </div>
    <div class="col-lg-8 mt-3 mt-lg-0">
      <h2>Join us in 2025</h2>
      <p class="lead">Everything Open is traveling to Tarntanya (Adelaide), South Australia from January 20-22 2025. We welcome you to join us for three days of presentations on open technologies.</p>
      <a href="https://2025.everythingopen.au/" class="btn btn-secondary" role="button">Visit site</a>
    </div>
  </div>
</div>

<div class="bg-blaze">
  <div class="container py-5">
    <h2 class="pb-2 text-center">What does the conference cover?</h2>
    <p class="text-center">Everything Open will cover a broad range of topics. You can expect to see talks from all of these areas:</p>
    <div class="row g-4 py-2 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi bi-topics" width="1em" height="1em"><use xlink:href="/media/img/bootstrap-icons.svg#ubuntu"></use></svg>
        </div>
        <div>
          <h3>Linux</h3>
          <p>Learn about the Linux Kernel and the ecosystem around it, including distros, drivers and software.</p>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi bi-topics" width="1em" height="1em"><use xlink:href="/media/img/bootstrap-icons.svg#code"></use></svg>
        </div>
        <div>
          <h3>Open Source Software</h3>
          <p>Keep up to date with the latest in open software, including programming languages, web technologies, containers, Kubernetes, etc.</p>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi bi-topics" width="1em" height="1em"><use xlink:href="/media/img/bootstrap-icons.svg#motherboard"></use></svg>
        </div>
        <div>
          <h3>Open Hardware</h3>
          <p>Learn about designing hardware using open source tools, putting it together, sharing designs under open licences.</p>
        </div>
      </div>
    </div>

    <div class="row g-4 py-2 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi bi-topics" width="1em" height="1em"><use xlink:href="/media/img/bootstrap-icons.svg#person"></use></svg>
        </div>
        <div>
          <h3>Community</h3>
          <p>Building and managing communities around open technologies.</p>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi bi-topics" width="1em" height="1em"><use xlink:href="/media/img/bootstrap-icons.svg#book"></use></svg>
        </div>
        <div>
          <h3>GLAM</h3>
          <p>Gallaries, Libraries, Archives and Museums - the impact and application of open source to our sustainable collecting and discovery practices.</p>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi bi-topics" width="1em" height="1em"><use xlink:href="/media/img/bootstrap-icons.svg#pie-chart"></use></svg>
        </div>
        <div>
          <h3>Open Data</h3>
          <p>Exposing more data in an open manner, especially government datasets, for everyone to use.</p>
        </div>
      </div>
    </div>

    <p class="text-center fs-4">and much, much more...</p>
  </div>
</div>

<div class="container py-5 text-center">
  <div class="row">
    <div class="col">
      <h2>Catch up on Past Events</h2>
      <p>Sessions from past events are available to watch on demand. You can choose to download from our mirror, or watch on YouTube.</p>
      <a href="https://mirror.linux.org.au/pub/everythingopen/" class="btn btn-secondary" role="button">Download recordings from past events</a>
      <a href="https://www.youtube.com/@EverythingOpen" class="btn btn-secondary" role="button">Watch on YouTube</a>
    </div>
  </div>
</div>
