{% assign title = "Everything Open | " | append: page.title %}
{% assign descript = page.abstract or page.description or site.description %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ title }}</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat:300|Source+Sans+Pro:400,700&display=swap&subset=latin-ext" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="/media/css/bootstrap.min.css">
<link rel="stylesheet" href="/media/css/bootstrap-icons.css">
<link rel="stylesheet" href="/media/css/style.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N3XSFL8277"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-N3XSFL8277');
</script>

<!-- Cards -->
<meta property="og:title"  content="{{ title }}">
<meta property="og:description" content="{{ descript }}" />
<meta property="og:url" content="{{ page.url | prepend: site.url }}">
<meta name="twitter:site" content="@_everythingopen">
<meta name="twitter:image:alt" content="{{ title }}" />
{%- if page.card %}
<!--- twitter card -->
{% assign card_image = page.card | prepend: "/media/img/card/" | prepend: site.url -%}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ card_image }}" />
<meta property="og:image" content="{{ card_image }}" />
<meta property="og:image:width" content="1500" />
<meta property="og:image:height" content="750" />
{% else %}
<!--- no page.card found. -->
{% assign image = "/media/img/card/eo-badge.1ef714c1.png" | prepend: site.url -%}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ image }}" />
<meta property="og:image" content="{{ image }}" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="400" />
{% endif %}
